@{
    ViewData["Title"] = "Startsidan";
}

<div class="start-container">
    <h1>Välkommen</h1>
    <p>Här kan du utforska min samling av böcker.</p>
    
    <p>
        Den här hemsidan är byggd med ASP.NET Core MVC.  
        Jag har använt C# för backend-logiken och Razor-vyer för att skapa sidorna.  
        Böckerna lagras i en databas och hämtas med Entity Framework.  
        Webbapplikationen hanterar CRUD-funktionalitet, vilket gör det möjligt att  
        lägga till, visa, redigera och ta bort böcker från samlingen.
    </p>
</div>
